<% if(locals.error){ %>
            <div class="navbar-promo navbar-promo-default">
            <div class="container">
                <div class="pull-left">
                    <strong>
                       <%= error %>
                    </strong>
                </div>
            </div>
        </div>
			<% } %>
			<% if (locals.success) { %>
            <div class="navbar-promo navbar-promo-default">
            <div class="container">
                <div class="pull-left">
                    <strong>
                       <%= success %>
                    </strong>
                </div>
            </div>
        </div>
		<% } %>
            
<div class="container">
            <div class="row">            
<%- partial('sidebar') %>

<div role="main" class="span single-column ">
		<div id='content'>
	<div class='panel'>
		
		<div class='inner'>
			<form id='change_pass_form' class='form-horizontal' action='/setting' method='post'>
            <div class="header">
            <h4 class="section-title">
                密码修改
                <div class="actions">
                    <button class="btn btn-primary" type="submit" data-action="prepare-submission">
                         保存修改
                    </button>
                </div>
            </h4>
            
        </div>
        <div class="more-info">
            		<h4>
               
            </h4>
				<div class='control-group'>
					<label class='control-label' for='old_pass'>当前密码</label>
					<div class='controls'>
						<input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30' />
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='new_pass'>新密码</label>
					<div class='controls'>
						<input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30' />
					</div>
				</div>
				<input type='hidden' id='action' name='action' value='change_password' />
				<input type='hidden' name='_csrf' value='<%= csrf %>' />
				<div class='form-actions'>
					<input type='submit' class='btn' value='保存修改' />
				</div>
           </div>
			</form>
		</div>
	</div>
</div>
</div>

</div>
        </div>