<style>
.navbar{display:none;}
.nav-inner{margin:20px 0 0 0;}
.navbar-fixed-offset { padding:0px  0 0 0;}
.navbar-promo{ display:none}
.nav-pills li a{ color:#666}
.nav-pills li a:hover{ color:#FFF;}
.nav-pills li.active a{background-color:#19975d;}
.entry-title a:hover, .entry-title a:focus, .entry-title a:active {
color: #000;
text-decoration: none;
}
</style>

<div class="container">
        <div class="nav nav-simple nav-nux">
            <div class="nav-inner">
                <span class="brand">
                    <i class="icon-nextdoor icon-house-green">
                    </i>
                    <a  href="/">
                    Highhome
                    </a>
                </span>
            </div>
        </div>
        <hr>
    </div>
<div class="wrapper">
  
  <div class="container">
    <div class="row">
      <div class="span2">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="/about">关于</a></li>
          <li ><a href="/help"> 帮助</a></li>
          <li ><a href="/blog">博客</a></li>
          <li><a href="/support">赞助</a></li>
          <li><a href="/contact">联系</a></li>
        </ul>
      </div>
      <div class="span8 offset1">
       			<article>
						<header class="entry-header">
						<h1 class="entry-title" style="padding:10px;">
                        关于Highhome</h1>
			</header><!-- .entry-header -->

				<div class="entry-content">
                <p>HighHome.org为和家园搭建网上社区，致力于促进和家园业主交流，共建和谐家园，共享阖家团圆。</p>
                <p>HighHome社区由 <a href="http://weibo.com/drun4">战国</a> 搭建和维护，
                欢迎住在和家园的设计师，电脑工程师加入，
                为HIghHome添砖加瓦，同样也欢迎和家园热心人士加入这个社区的网上居委会中，管理和维护这个社区。
                </p>

                <p>我在网上找不到一个独立和专业的和家园网上社区或论坛，
                现有的19楼和搜房网的和家园板块也不能满足我对和家园相关信息的需求，
                同时上面两个论坛上的信息也过于陈旧和单一，对住在和家园的业主缺少真正有效的帮助。
                而我觉的一个号称是"百万方高尚人文生态大盘"的社区应该有一个独立的非官方网络社区，
                所以我萌生了搭建HighHome的想法，而这对我来说也无非是买一个域名，对域名进行备案，
                和在自己的服务器为HighHome分配空间和花几天时间对代码做修改的事情。于是我搭建了HIghHome，
                也算是我为和家园做出自己力所能及的贡献吧。
                </p>
				<p>
				"Highhoem"的high是取自坤和Canhigh的high，
                "high"有高的，高尚的，崇高的意思，
                而和家园的英文名是Harmony Home，Harmony是"和谐"的意思，
                其实我更喜欢后者，考虑到high这个单词已经被广泛使用，方便大家记忆
                ，所以我注册了highhome.org的域名，而顶级域名org是organizations的缩写，
                表示这是一个非盈利性组织，这和我搭建这个社区的想法完全相同。
                以上就是为什么和家园网上社区是HighHome的原因。
                如果你将HighHome直译为为"高老庄"，那么我也无话可说，且乐于这样自嘲。
                其实我更喜欢将他翻译为"嗨，家！"
                </p>
     			<p>西溪且留下，屏基且和家。</p>
    			<p> I hope this is a village not a apartment，I hope you and me hava a home not a house，there are family and neighbours......</p>
     
	</div><!-- .entry-content -->
		
		<footer class="entry-meta">
				
					</footer><!-- .entry-meta -->
	</article>
      </div><!-- end row -->
    </div> <!-- /container -->
    


  </div>
</div>