<style>
.navbar{display:none;}
.nav-inner{margin:20px 0 0 0;}
.navbar-fixed-offset { padding:0px  0 0 0;}
.navbar-promo{ display:none}
.nav-pills li a{ color:#666}
.nav-pills li a:hover{ color:#FFF;}
.nav-pills li.active a{background-color:#19975d;}
.entry-title a:hover, .entry-title a:focus, .entry-title a:active {
color: #000;
text-decoration: none;
}
</style>

<div class="container">
        <div class="nav nav-simple nav-nux">
            <div class="nav-inner">
                <span class="brand">
                    <i class="icon-nextdoor icon-house-green">
                    </i>
                    <a  href="/">
                    Highhome
                    </a>
                </span>
            </div>
        </div>
        <hr>
    </div>
<div class="wrapper">
  
  <div class="container">
    <div class="row">
      <div class="span2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/about">关于</a></li>
          <li ><a href="/help"> 帮助</a></li>
          <li class="active"><a href="/blog">博客</a></li>
          <li><a href="/support">赞助</a></li>
          <li><a href="/contact">联系</a></li>
        </ul>
      </div>
      <div class="span8 offset1">
       			<article>
						<header class="entry-header">
						<h1 class="entry-title" style="padding:10px">
                        西溪且留下，和圆且筑家</h1>
			</header><!-- .entry-header -->

				<div class="entry-content">
			  <p> 昨晚终于把HIGHHOME部署到了服务器上面，算是第一个版本吧。回来后叫上小伙伴同我做一下内测，再做一下一下优化就应该可以正式上线了。现在在回家的地铁上，趁着无事，用手机码一篇文章。</p>
              <p>  我应该是去年的四月买的和家园，准确是说是我爸应该是四月给我买的房子，
              现在看来那是应该是冲动和不太理智的，我也对我毕业后的未来大有信心。就向银行买了未来，换了一个房子，
              现在基本就是房奴，因此而让爸妈受累也一直让我耿耿于怀。</p>
                <p>其实我一直对房子和家的概念比较模糊，这可能和我很早就离家出来读书有关。
                而我妈在一次次错过了买房的最好时机后，也自然是想给我一个他们给得起最好的未来。
                所以我在来杭后不久就在杭州买了房子，大概也是怕我走的更远。我也蛮喜欢杭州的，来了后也愿意在这座城市定居下，
                那是也只是一个不切实际的学生，感受不到其他的东西。</p>
              <p> 买在和家园也是巧合，我把老头子骗到杭州，原本计划是去看另一个楼盘的开盘，我带老头子去看了现房，
              老头子说了几点我看不到的东西，大体把我数落了一顿，太年轻了，没有碰过钉子了。
              在公交车站台遇见了张阿姨，张阿姨算是我的同乡，听我们说方言就插了几句，执意要带我们去和家园，
              她也正好为孙女上学的事情要过去。于是我们就不知道这么回事就到了，看了自然是喜欢的不行，只是价格偏高。
              回来后，老头子被城市打击的体无完肤，一辈子辛苦的继续还买不起一屁股地方，
              老头子在杭的几天也表现出了不耐烦，同城市为敌，要把那个这个数落一番，一副人心不古，现世残忍的感叹。
              在我上班的时候老头子还去过一次，和我聊过几次，我那时候也是不懂社会，活在自己想象的世界里，
              问他伸手要一个超出他们负担的玩具。我想大体是这感觉，后来老头子一个人去了和家园，
              和那边商量了一下，做了乐观的打算。给我买了那个玩具，恩，算是老头子给我的礼物。</p>
                <p> 其实我都不是清楚，今年我才记住我买的是那个房间，这几天才知道是什么户型。除了当给银行的时间，
                这对我来说也没有什么改变。我没有发现这个玩具多么好玩，而玩具的付出似乎也超出了我那是的想象。
                当我不想玩这个游戏的时候似乎又不能立刻收手，只能next。每个月去这个银行
                取钱，去那个银行存钱，对我而言是一种仪式，真真切切的触感远比数字有价值和体验感强烈的多。
                在过去的一年里面我只是得过且过，自己都不明白自己在做什么，但是又比较享受这种状态，
                更多的是一种力不从心，心有力而心不足的感觉。我想这大概是每个年轻人要经历的事情吧，
                厉害的人不应该太年轻，我只是做了不应该在我这个年龄段做的事情的后果。</p>
              <p>  可能在和家园里面我应该算是年轻的，年龄，心理，能力，金钱，为人山都是。
              而可以和博士，工程师，老师，厨师为伍我也是高兴的。
              我不记得我具体是什么时候买的房子，但是是在四月，HIGHHOME算是自己给自己的玩具一周年的今年吧
              。其实相比而言，我更喜欢HIGHHOME这个玩具，毕竟这是我一手组装的，就像自己做的食物总是好吃的一个概念
              。</p>
              
             <p>   一年前的这个时候，对杭州不是很了解，即使现在也不里了解。
             到留下的时候，感觉这个地名好奇怪但是又喜欢的不行，我想这背后也自然是有故事的。
             后来我这地名出自宋朝的"西溪且留下"。好吧，那我暂且也留下吧。</p>
            <p>  西溪且留下，屏基且筑家。大体就是这个意思，可能有点我对家的情节。</p>
             <p>  我一直以来来对家的概念很是模糊，一度要靠英文来理解。
             hourse，home，family，me，这几个单词在不同的年龄段代表这我对对家的理解，小时候是hourse，
             是一种问题的答案，后来是family，是一种情感的依赖，然后是收home，hourse and me ，
             是一种问现实的认知，然后我隐隐的感觉，对我这个年龄而言家是house，
             因为他们说二十几岁最重要的的事情是买一房子，我只认同了他们的一半，把另一半的最重要给了女人。</p>
             <p>  在我们那里，我们的方言，管家叫"窝"。
             不知道吴音对这个字的发音是否统一。我对"窝"这个字的认知是我们都是动物，
             我们要有一个挡风遮雨，抵御严寒的地方，能给我们温暖和安全感，还有就是"窝"是要你去筑的，
             一根根树枝，一点点春泥，要你飞出去去寻找，而且在你筑好窝以前，你只能受风吹雨打，黑夜寒冷。
             而"窝"是安生的根本，是你必须致死守护和不可侵犯的领域。我没有见过没有窝的鸟。之间过没有没有鸟的窝。</p>
            
               <p> 恩，现在开始我对家的是理解"窝" 。</p>
               <p> 我希望我喜欢这个窝，我喜欢你喜欢你的窝，我大家住在一个窝，我希望HIGHHOME是那一棵连接一个个窝的大树。</p>
              <p> 以此文纪念HIGHHOME上线，购房一周年，献给老头子和老妈子。</p>
               <p>  战国，写在回窝的地铁，车站和高速上。</p>
     
                    </div><!-- .entry-content -->
		
		<footer class="entry-meta">
				
					</footer><!-- .entry-meta -->
	</article>
      </div><!-- end row -->
    </div> <!-- /container -->
    


  </div>
</div>