<style>
.navbar{display:none;}
.nav-inner{margin:20px 0 0 0;}
.navbar-fixed-offset { padding:0px  0 0 0;}
.navbar-promo{ display:none}
.nav-pills li a{ color:#666}
.nav-pills li a:hover{ color:#FFF;}
.nav-pills li.active a{background-color:#19975d;}
.entry-title a:hover, .entry-title a:focus, .entry-title a:active {
color: #000;
text-decoration: none;
}
</style>

<div class="container">
        <div class="nav nav-simple nav-nux">
            <div class="nav-inner">
                <span class="brand">
                    <i class="icon-nextdoor icon-house-green">
                    </i>
                    <a  href="/">
                    Highhome
                    </a>
                </span>
            </div>
        </div>
        <hr>
    </div>
<div class="wrapper">
  
  <div class="container">
    <div class="row">
      <div class="span2">
        <ul class="nav nav-pills nav-stacked">
          <li ><a href="/about">关于</a></li>
          <li ><a href="/help"> 帮助</a></li>
          <li ><a href="/blog">博客</a></li>
          <li ><a href="/support">赞助</a></li>
          <li class="active"><a href="/contact">联系</a></li>
        </ul>
      </div>
      <div class="span8 offset1">
       			<article>
						<header class="entry-header">
						<h1 class="entry-title" style="padding:10px;">
                         联系</h1>
			</header><!-- .entry-header -->

				<div class="entry-content">
                
                <p>email:&nbsp;&nbsp;runkingzhang@163.com。</p>
                <p>QQ: &nbsp;&nbsp;425629018
                </p>

	</div><!-- .entry-content -->
		
		<footer class="entry-meta">
				
					</footer><!-- .entry-meta -->
	</article>
      </div><!-- end row -->
    </div> <!-- /container -->
    


  </div>
</div>